/*@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');*/
* {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    margin: 0;
    padding-top: 1em;

    font-family: Arial, sans-serif;
}

header {
    border-bottom: 1px solid #ccc;
}

.top-bar {
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 10px 20px;
    padding-bottom: 1em;
    background-color: white;
}

.search {
    display: flex;
    align-items: center;

}

.search span {
    margin-right: 8px;
    font-size: 18px;
}

.search input {
    border: none;
    outline: none;
    font-size: 14px;
    width: 250px;
    background-color: inherit;
}

.icons span {
    margin-left: 25px;
    font-size: 18px;
    cursor: pointer;

}

.menu {
    background-color: lightgray;
    position: relative;
    z-index: 1000;
}

.menu-sections {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.menu-sections li {
    position: relative;
    margin: 0;
    cursor: pointer;
}

.menu-sections a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    transition: background-color 0.3s ease;
}

.menu-sections a:hover {
    background-color: #444;
}

.glowtique-logo {
    max-width: 200px;
    max-height: 100px;
}


.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(99, 84, 84, 0.2);
    list-style: none;
    min-width: 150px;
    z-index: 1000;
}

.dropdown li {
    padding: 2px 15px;
    white-space: nowrap;
}

.dropdown li:last-of-type {
    padding-bottom: 10px;
}

.dropdown li:hover {
    color: lightseagreen;
    cursor: pointer;
}

.menu-sections li:hover > .dropdown {
    display: block;
}
.dropdown-column {
    flex: 1 1 200px;
    min-width: 150px;
    margin-right: 20px;
}

.dropdown-column:last-child {
    margin-right: 0;
}

.dropdown-column h3 {
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
    margin-top: -10px;
}

.dropdown-column ul {
    list-style: none;
    margin: 0;
    padding-bottom: 0px;
}

.dropdown-column li {
    padding: 5px 0 0 0;
    font-size: 14px;
    color: #555;
    cursor: pointer;
}

.dropdown-column li:hover {
    color: #00A6A6;
}


.dropdown-image img {
    max-width: 250px;
    height: auto;
    border-radius: 5px;
}


.logo {
    text-align: center;
    margin: 10px 0;
    padding: -2px;
    padding-top: 5px;
}

.logo h1 {
    font-size: 28px;
    margin: 0;
    font-weight: normal;
    letter-spacing: 2px;
}
.christmas {
    text-decoration: none;
    color:inherit;
}

.menu-sections a {
    text-decoration: none;
    color: inherit;
}
.container-advertise {
    display: flex;
    justify-content: space-evenly;
    margin: 40px;
}
.item {
    position: relative;
    width: 30%;
    text-align: center;
    color: white;
}
.item img {
    width: 100%;
    border-radius: 8px;
    transition: transform 0.3s ease;
}
.item:hover img {
    transform: scale(1.05);
    cursor: pointer;
}

.item p {
    position: absolute;
    bottom: 5px;
    left: 20px;
    font-size: 16px;
}