body {
    margin: 0;
    background-color: white;
    font-family: Arial, sans-serif;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: inherit;
    background-color: lightgray;
}
img {
    width: 175px; 
    height: auto;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 45px;
    
}

.login-container {
    background-color: rgb(99, 99, 99);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    height: 350px;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: white;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 400;
    color: white;
}

.form-group input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* .form-group input:focus {
    border-color: lightgray;
    outline: none;
} */

.login-button {
    width: 100%;
    padding: 10px;
    background-color: gray;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 15px;
}

.login-button:hover {
    background-color: lightgray;
}

.forgot-password {
    text-align: center;
    margin-top: 30px;
}

.forgot-password a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.forgot-password a:hover {
    color: gray;
}

.footer {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid inherit;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: lightgray;
}